/*stiky footer*/
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#footer {
  background-color: grey;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  flex-shrink: 0;
}

#main {
  flex: 1 0 auto;
  display: flex;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*task card stretch*/
.task-author {
  margin-left: auto;
  text-indent: 30px;
  font-size: 0.8em;
}

.taskCard {
  align-items: stretch;
  flex: 1 1 auto;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.space-filler {
  flex: 1 0 auto;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
}

/*task catagory*/
.tags {
  padding: 3px 10px;
  border-radius: 12px;
}

/*front page center alignment*/
.flex-center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*generator alignment*/
.title-alignment {
  align-self: flex-start;
}

.generator-container {
  height: 100%;
  padding-top: 46px;
  .row {
    margin: 0px;
  }
  
    a, a:hover{
      text-decoration: none;
      color:black;
    }

  .generator-card {
    height: 300px;
    border-radius: 10px;
    .card-body {
      display: flex;
      justify-content: space-between;
      h5 {
        text-align: center;
      }
      img {
        align-self: flex-end;
      }
    }
  }
}

.generator-card:hover, .tags-list:hover {
  cursor: pointer;
}

#includa-area{
  height: 150px;
  width: 100%;
  overflow: auto;
}

#exclude-area{
  height: 150px;
  width: 100%;
  overflow: auto;
  .badge{
    background-color: gray;
  }
}

#slider {
  width: 100%;
}

#remainingTasksButton{
  min-width: 190px;
  min-height: 45px;

  #remainingTasks {
    min-width: 10px;
    text-align: center;
  }
}

#remainingTasksButton:hover, #resetButton:hover {
  font-weight: bold;
}

#resetButton{
  text-align: center;
  margin-left: 15px;
  min-width: 80px;
  min-height: 45px;
}

@media (max-width: 767px) {
  #remainingTasksButton{
  width: 100px;
  min-height: 45px;

  #remainingTasks {
    min-width: 10px;
    text-align: center;
  }
}

}

.task-container{
  min-height: 100px;
  max-height: 120px;
}

.pastday {
  background-color: gray;
}

.task-container-todolist {
  min-height: 200px;
  max-height: 300px;
}
