html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#footer {
  background-color: grey;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  flex-shrink: 0;
}

#main {
  flex: 1 0 auto;
  display: flex;
}

.taskCard {
  align-items: stretch;
  flex: 1 1 auto;
}

.flexbox{
  display: flex;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags {
  padding: 3px 10px;
  border-radius: 12px;
}
.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.space-filler {
  flex: 1 0 auto;
}

.flex-container {
  display: flex;
}

.task-author {
  margin-left: auto;
  text-indent: 30px;
  font-size: 0.8em;
}

.flex-center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}